.errorMessage{
    color: #bf3b33;
}

.overallFormDiv{
    width: 100%; 
    max-width: 900px;
}

.textForm{
    margin: auto;
    width: 100%;
}

.textField{
    width: 100%; 
    min-height: 200px;
    min-width: 400px;
}

.textTitle{
    margin: 10px;
    font-size: calc(10px + 2vmin);
    width: 70%;
    min-width: 400px;
}